.navbar {
  border-bottom: 1px solid #b5b5b5;
  height: 62px;
  position: stick; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

a.navbar-brand {
  width: 320px;
}

.collapse {

}

.img-fluid {
  max-width: 25%;
  height: auto;
}

main {
  padding-top: 5em;
}
