body,
html {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

a img {
  margin-right: 0.5rem;
}

#icons a{
  display: inline-block;
  list-style: none;
}

@media (max-width: 991px){
  #icons a{
    display: none;
    list-style: none;
  }
}

.navbar-brand {
  font-family: 'Press Start 2P', cursive;
}

.hero {
  background-image: url("../img/ipad-scratch-shadow.jpg");
  background-color: #cccccc;
  height: 70%;
  top: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  animation-name: bg-fadein;
  animation-duration: 700ms;
}
.hero-text {
  font-family: 'Commissioner', sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(189, 189, 189,.7);
  padding: 0 1rem;
}

.navbar {
  position: stick; /* Make it stick/fixed */
  padding: 0rem 1rem;
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: .7s;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

@media (max-width: 1024px) {
  .navbar {
    position: stick; /* Make it stick/fixed */
    padding: 0.5rem 1rem;
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    background-color: #fff;
  }
}

.collapse .nav-link {
    transition: all 0.1s;
}

.nav-link::selection {
    color: #ff0; /* Цвет текста */
    background: #000;
}
@media (min-width: 990px) {
  .collapse .nav-link::after {
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #000;
    transform: translateY(16px) scale(0) ;
    transition: all .3s;
  }

  .collapse .nav-link:hover::after {
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #000;
    transform: translateY(16px) scale(1) ;
  }
}
@media (max-width: 991px) {
  .nav-item{
    margin-top: 0em;
    margin-left: -3em;
  }
}


@media (max-width: 1024px) {
  a.navbar-brand {
    width: 200px;
  }
}

@media (max-width: 315px) {
  a.navbar-brand {
    width: 100px;
  }
}

.collapse {
  margin-left: -1em;
  margin-right: -1em;
  padding-left: 1em;
  padding-right: 1em;
  background-size: contain;
  background-color: #fff;
}

.img-fluid {
  max-width: 35%;
  height: auto;
}

main {
  padding-top: 5em;
}

@media (max-width: 978px) {
    .btn-outline-info {
      padding:0.5em;
      margin-bottom:1em;
    }
}

@keyframes bg-fadein{
  0%{
    height:0%;
  }
  100%{
    height: 70%;
  }
}
