body,
html {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.bg-img {
  background-image: url("../img/ipad-scratch-shadow.jpg");
  background-color: #cccccc;
  height: 100%;
  top: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.navbar {
  position: stick; /* Make it stick/fixed */
  padding: 0rem 1rem;
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: background .7s ease;
  background-color: transparent;
}

#navbarToggler{
  background-color: transparent;
  transition: background .7s ease;
}

@media (max-width: 1024px) {
  .navbar {
    position: stick; /* Make it stick/fixed */
    padding: 0.5rem 1rem;
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    background-color: #d6d6d6;
  }
}

@media (max-width: 1024px) {
  a.navbar-brand {
    width: 200px;
  }
}

@media (max-width: 315px) {
  a.navbar-brand {
    width: 100px;
  }
}

.collapse {
  margin-left: -1em;
  margin-right: -1em;
  padding-left: 1em;
  padding-right: 1em;
  background-size: contain;
  background-color: #fff;
}

.img-fluid {
  max-width: 35%;
  height: auto;
}

main {
  padding-top: 5em;
}

@media (max-width: 978px) {
    .btn-outline-info {
      padding:0.5em;
      margin-bottom:1em;
    }
}

.scrolling-active{
    background-color: #fff;
    box-shadow: 0 3px 1rem rgba(0,0,0,.1);
    transition: .7s;
}

.scrolling-active .navbar{
    height: 6.6rem;
    transition: .7s;
}

.scrolling-active .navbar a{
    color: #fff ;
    transition: .7s;
}

.scrolling-active #nav-cta{
    background-color: ##fff;
    color: #fff;
    transition: .7s;
}

.scrolling-active #nav-cta:hover{
    background-color: #151515;
    transition: .7s;
}

.scrolling-active .navbar-link::after{
    background-color: #313131;
    transition: .7s;
}
